<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>espresso x rpi</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="bodyContainer">


  <div class="titleFont">
    <span style="opacity: 0.5;"><a href="/" class="button button-primary">&nbsp;  espresso ☕ rpi &nbsp;</a></span>
    
  
  </div>

  <div class="mainCard">
  
    <div class="triangles">
      <div class="bgMainTriangle1">
      </div>
      <div class="bgMainTriangle2">
      </div>

    </div>

    <div class="bgMainMiddle">
    <div class="bgMiddle"></div>
      <div class="container">

            <div class="row">
              <div class="one column">
                <span>&nbsp; <!-- Whitespace --></span>
              </div>
              <div class="ten columns">
                {% if greeting %}
                <div class="goodMorning"> <h3><span class="icon">🥖 </span>{{headline}}<span class="icon"> 🍳</span></h3></div>
                {% endif %}

                {% if not greeting %}
                <div class="goodMorning"> <h3><span class="icon">🚂 </span>Die nächsten S-Bahnen Richtung Westen<span class="icon"> 🚋</span></h3>
                  <h5>ab S+U Lichtenberg</h5>
                </div>
                {% endif %}

              </div>
              <div class="one column">
                <span>&nbsp; <!-- Whitespace --></span>
              </div>
            </div>
            <div class="row" id="minerinfo" style="display: {{ display_mining}}">
              <div class="one column">&nbsp; <!-- Whitespace --></div>
              <div class="ten columns">
                <table class="u-full-width">
                  <tr>
                    <td><b>Kontostand:</b></td>
                    <td>{{ credit }} XMG bzw. {{ creditEUR }} €</td>
                  </tr>
                  <tr>
                    <td><b>Wechselkurs aktuell:</b>:</td>
                    <td>{{ price_eur }} EUR/XMG</td>
                  </tr>
                  <tr>
                    <td><b>Letzter Miner-Status:</b></td>
                    <td>{{ status }}</td>
                  </tr>
                </table>
              </div>
              <div class="one column">&nbsp; <!-- Whitespace --></div>
            </div>

            <!-- TRAIN Departures -->


            <div class="row" style="display: {{ display_trains}}">
              <div class="one column">&nbsp; <!-- Whitespace --></div>
              <div class="ten columns"> 
                <table class="u-full-width">
                  <thead>
                    <tr>
                      <th>Abfahrt</th>
                      <th>Linie</th>
                      <th>Richtung</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for train in trains %}
                  <tr>
                    <td>{{ train.departure }}</td><td>{{train.line}}</td> <td>{{ train.direction }}</td>
                  <tr>
                  {% endfor %}
                  </tbody>
                </table>
                <div align="center">
                {% if not showMore %}
                <div>
                  <div class="button button-primary" onclick="location.href = '/?infos=show&showMore=true';" style="width:200px; margin-bottom: 10px;">
                  &nbsp; Mehr Verbindungen &nbsp;
                  </div>
                </div>
              
                {% endif %}
                <div>
                  <div class="button button-primary" onclick="location.href = '/';" style="width:200px; ">
                  &nbsp; Abfahrtsplan schließen &nbsp;
                  </div>
                </div>
                </div>
                <br>
                <!--
                Strompreis RPi / Tag: {{strompreisRPiTagEUR}} € @ {{ arbeitspreis }} ct/kWh<br>
                Letzter Status: {{ status }}<br>
                Hashrate (xmg.suprnova.cc): {{ hashrate }} kh/s<br>
                -->
              </div>
              <div class="one column">&nbsp; <!-- Whitespace --></div>
            </div>

            <!-- END OF TRAIN Departures -->


            <!-- MONGODB Ouptut -->

            <div class="row" style="display: {{ display_stats}}">
              <div class="one column">&nbsp; <!-- Whitespace --></div>
              <div class="ten columns"> 
                <table class="u-full-width">
                  <thead>
                    <tr>
                      <th>Zeit</th>
                      <th>Nutzer</th>
                      <th>IP</th>
                      <th>action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for stat in stats %}
                  <tr>
                    <td>{{ stat.time }}</td><td>{{stat.username}}</td> <td>{{ stat.userip }}</td><td>{{ stat.action }}</td>
                  <tr>
                  {% endfor %}
                  </tbody>
                </table>
                <div align="center">
                <!--
                {% if not showMore %}
                <div>
                  <div class="button button-primary" onclick="location.href = '/?infos=show&showMore=true';" style="width:200px; margin-bottom: 10px;">
                  &nbsp; Mehr Stats &nbsp;
                  </div>
                </div>
                {% endif %}
                -->

                <div>
                  <div class="button button-primary" onclick="location.href = '/';" style="width:200px; ">
                  &nbsp; Stats schließen &nbsp;
                  </div>
                </div>
                </div>
                <br>
                <!--
                Strompreis RPi / Tag: {{strompreisRPiTagEUR}} € @ {{ arbeitspreis }} ct/kWh<br>
                Letzter Status: {{ status }}<br>
                Hashrate (xmg.suprnova.cc): {{ hashrate }} kh/s<br>
                -->
              </div>
              <div class="one column">&nbsp; <!-- Whitespace --></div>
            </div>


            <!-- END OF MONGODB OUTPUT -->


            <div class="row">
              <div class="one column">
                <span>&nbsp; <!-- Whitespace --></span>
              </div>
              <div class="four columns">
                <div class="button button-primary buttonIconAligner x2Button" onclick="enable('espressoX1')">
                  <img src="{{url_for('static', filename='images/icons/espresso/4x2.svg')}}">
                  <span class="buttonText">espresso</span>
                </div>
              </div>
              <div class="two columns">
                <div class="button button-primary buttonIconAligner x2Button" onclick="enable('espressoX2')">
                 <img src="{{url_for('static', filename='images/icons/doubleespresso/2x2.svg')}}">
                 <span class="buttonText">espresso</span>
                </div>
              </div>
              <div class="two columns">
                <div class="button button-primary buttonIconAligner x2Button" onclick="enable('coffeeX1')">
                  <img src="{{url_for('static', filename='images/icons/coffee/2x2.svg')}}">
                  <span class="buttonText">kaffee</span>
                </div>
              </div>
              <div class="two columns">
                <div class="button button-primary buttonIconAligner x2Button" onclick="enable('coffeeX2')">
                  <img src="{{url_for('static', filename='images/icons/doublecoffee/2x2.svg')}}">
                  <span class="buttonText">kaffee</span>
                </div>
              </div>
              <div class="one column">
                <span>&nbsp; <!-- Whitespace --></span>
              </div>
            </div>
            <div class="row">
              <div class="one column">
                <span>&nbsp; <!-- Whitespace --></span>
              </div>
              <div class="four columns">
                <div class="button buttonIconAligner x1Button button-powerOn" onclick="enable('onOff')">
                  <img src="{{url_for('static', filename='images/icons/power/1x1.svg')}}">
                </div>
              </div> 
              <div class="two columns">
                <div class="button button-primary buttonIconAligner x1Button" onclick="enable('clean')">
                  <img src="{{url_for('static', filename='images/icons/clean/1x1.svg')}}">
                </div>
              </div>
              <div class="two columns">
                <div class="button button-primary buttonIconAligner x1Button" onclick="showComingSoon()">
                  <img src="{{url_for('static', filename='images/icons/settings/1x1.svg')}}">
                </div>
              </div>
              <div class="two columns flexButtonsContainer">
                <div class="button button-primary buttonIconAligner x1x1Button flexButton" onclick="location.href = '?stats=show';">
                  <img src="{{url_for('static', filename='images/icons/stats/1x1.svg')}}">
                </div>
                <div class="button button-primary buttonIconAligner x1x1Button flexButton" onclick="location.href = '?infos=show';">
                  <img src="{{url_for('static', filename='images/icons/bitcoin/1x1.svg')}}">
                </div>
              </div>
              <div class="one column">
                <span>&nbsp; <!-- Whitespace --></span>
              </div>
            </div>
          </div>
      </div>
    <div class="triangles">
      <div class="bgMainTriangle3">
      </div>
      <div class="bgMainTriangle4">
      </div>
    </div>

<div class="weatherInfoBar">
      <p class="temp">Heute: <img src="https://www.metaweather.com/static/img/weather/{{weatherIcon1}}.svg" class="u-max-full-width" width="40px" height="40px">{{tempMinMax1}}</p>
      <p class="temp">Morgen: <img src="https://www.metaweather.com/static/img/weather/{{weatherIcon2}}.svg" class="u-max-full-width" width="40px" height="40px">{{tempMinMax2}}</p>
      <p class="temp">Übermorgen: <img src="https://www.metaweather.com/static/img/weather/{{weatherIcon3}}.svg" class="u-max-full-width" width="40px" height="40px">{{tempMinMax3}}</p>
    </div>

  </div>
</div>

  <script>
function showComingSoon() {
    alert("Gibt's noch nicht, aber locker demnächst. 👌 👨‍💻");
}

// function showMiner() {
// if (document.getElementById("minerinfo").style.display == "none") {
//       document.getElementById("minerinfo").style.display = "block";
//     document.getElementById("minerinfo2").style.display = "block";
// } else {
//         document.getElementById("minerinfo").style.display = "none";
//     document.getElementById("minerinfo2").style.display = "none";
// }


// }


function enable(action) {

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        alert(this.responseText);
    }
  };
  xhttp.open("POST", "{{rpiIP}}", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("action="+action);

}

</script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
