/* color definitions */

$colorGradientSunset: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
$colorButtonGray: rgba(81,90,71,1);
$colorButtonGrayHover: #404838;

$colorButtonRed: rgba(138,73,21,0.90);
$colorButtonRedHover: #6E3A10;

$colorButtonGreen: rgba(123,155,126,1);
$colorButtonGreenHover: #627C64;


/* Background Main */
$colorWhiteLight: rgba(255,255,255,0.20);
$colorWhiteLighter: rgba(255,255,255,0.10);

$colorFont: #535949;


.bodyContainer {
	background-image: $colorGradientSunset;
	position: fixed;
}


.bgMainTriangle1, .bgMainTriangle2, .bgMainTriangle3, .bgMainTriangle4 {
	background: $colorWhiteLighter;
}

.bgMiddle {
	position: absolute;
	background: $colorWhiteLight;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0;
	left:0;
	bottom: 0;
}

.goodMorning, .titleFont {
	color: $colorFont;
}