/* fonts definitions */

$typeFamilyLight: Lato-Thin, sans-serif;

  .icon {
    display: none;
	font-size: 48px;
	}

	.temp {
		font-size: 12px;
		margin-top: 0px;
		margin-bottom: 10px;
	}


.goodMorning h3 {
	/* Guten Morgen, */
	text-align: left;
	margin-bottom: -48px;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
	.goodMorning h3 {
	/* Guten Morgen, */
		margin-bottom: 0px;
	}

}


/* For devices larger than 1000px */
@media (min-width: 1000px) {
  .icon {
    display: inline;}

   .goodMorning h3, h5 {
   	text-align: center;
   }
}


.titleFont {
	font-size: 18px;
}

 @font-face {
  font-family: "Lato-Thin";
  src: url(../fonts/lato/Lato-Thin.ttf) format("truetype");
}


body {
	font-family: $typeFamilyLight;
}