/* color definitions */
/* Background Main */
.mainCard, .bodyContainer {
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); }

.bgMainTriangle1, .bgMainTriangle2, .bgMainTriangle3, .bgMainTriangle4 {
  background: rgba(255, 255, 255, 0.1); }

.bgMiddle {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.goodMorning, .titleFont {
  color: #535949; }
